# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/

# Flask instance folder
instance/

# VSCode / IDE
.vscode/
.idea/

# macOS
.DS_Store

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Byte-compiled / cache
*.egg-info/
.eggs/

# Logs
*.log

# Build
build/
dist/
